<h1>Welcome to Nerds Notes</h1>
 <h3>you can view free notes</h3>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Course</th>
    <th>Teacher</th>
    <th>Title</th>
    <th>Nerd</th>
    <th>price</th>
     <th> Acess </th>
    
  
  </tr>

<% @notebooks.each do |notebook| %>
  <tr>
    <td><%= notebook.course %></td>
    <td><%= notebook.teacher %></td>
    <td><%= notebook.title %></td>
    <td><%= User.find( notebook.user_id).name %></td>

   
     <% if  !current_user.nil?  && current_user.id== notebook.user_id%>
     <td> <%=notebook.price%>
     <td><%= link_to 'Show', notebook %> 
    <%= link_to 'Edit', edit_notebook_path(notebook) %>
    <%= link_to 'Destroy', notebook, confirm: 'Are you sure?', method: :delete %> </td>

    <% else%>
     <% if notebook.free || ( !current_user.nil? && current_user.payements.where('noteid=?',notebook.id) .length==1 )%>
    <td> Free </td>
     <td><%= link_to 'Show', notebook %> </td>
     <% else %>
     <td> <%= notebook.price %> <%=link_to "  pay to show this note", new_notebook_payement_path(notebook) %></td>
     <% end %>
     <% end %>
   
    </td>
  </tr>
<% end %>
</table>



