<%= form_for(@payement) do |f| %>
  <% if @payement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payement.errors.count, "error") %> prohibited this payement from being saved:</h2>

      <ul>
      <% @payement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id ,:value => current_user.id %>
    <%= f.hidden_field :noteid ,:value => @notebook.id%>
  </div>
  <div class="field">
    <%= f.label "Card type"%><br />
    <%= f.text_field :cardtype %>
  </div>
  <div class="field">
    <%= f.label "Card number" %><br />
    <%= f.text_field :cardnumber %>
  </div>
  <div class="field">
    <%= f.label :cvv %><br />
    <%= f.number_field :cvv %>
  </div>
  <div class="field">
    <%= f.label "Expirte at" %><br />
    <%= f.date_select :expireat %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
