<h1>Listing payements</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cardtype</th>
    <th>Cardnumber</th>
    <th>Cvv</th>
    <th>Expireat</th>
    <th>Noteid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payements.each do |payement| %>
  <tr>
    <td><%= payement.user_id %></td>
    <td><%= payement.cardtype %></td>
    <td><%= payement.cardnumber %></td>
    <td><%= payement.cvv %></td>
    <td><%= payement.expireat %></td>
    <td><%= payement.noteid %></td>
    <td><%= link_to 'Show', payement %></td>
    <td><%= link_to 'Edit', edit_payement_path(payement) %></td>
    <td><%= link_to 'Destroy', payement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payement', new_payement_path %>
